In [5]:
import requests
from bs4 import BeautifulSoup
import csv
base_url = "https://www.nepalpolice.gov.np/index.php/safety-security-tips/emergency-numbers"
response = requests.get(base_url)

In [6]:
response

In [7]:
data = BeautifulSoup(response.content,'lxml')

In [8]:
data.title.text

'Emergency Numbers'

In [9]:
tables = data.find_all("table")

In [10]:
tables1

NameError: name 'tables1' is not defined

In [11]:
len(tables)

3

In [12]:
rows = tables[1].find_all("tr")

In [15]:
rows

[<tr style="text-align: left; background-color: #dddddd;">
 <td style="text-align: left;"><span style="font-size: 10pt;"><strong>Name</strong></span></td>
 <td style="text-align: left;"><span style="font-size: 10pt;"><strong>Telephone Numbers</strong></span></td>
 </tr>, <tr style="text-align: left;">
 <td style="text-align: left;"><span style="font-size: 10pt;">Police Control</span></td>
 <td style="text-align: left;"><span style="font-size: 10pt;">100</span></td>
 </tr>, <tr style="text-align: left; background-color: #eeeeee;">
 <td style="text-align: left;"><span style="font-size: 10pt;">Police Emergency Number</span></td>
 <td style="text-align: left;"><span style="font-size: 10pt;">4228435</span></td>
 </tr>, <tr style="text-align: left;">
 <td style="text-align: left;"><span style="font-size: 10pt;">Metropolitan Police Range (Kathmandu)</span></td>
 <td style="text-align: left;"><span style="font-size: 10pt;">4261945/4261790</span></td>
 </tr>, <tr style="text-align: left; background-color: #eeeeee;">
 <td style="text-align: left;"><span style="font-size: 10pt;">Metropolitan Police Range (Lalitpur)</span></td>
 <td style="text-align: left;"><span style="font-size: 10pt;">5521207</span></td>
 </tr>, <tr style="text-align: left;">
 <td style="text-align: left;"><span style="font-size: 10pt;">Metropolitan Police Range (Bhaktapur)</span></td>
 <td style="text-align: left;"><span style="font-size: 10pt;">6614821</span></td>
 </tr>, <tr style="text-align: left; background-color: #eeeeee;">
 <td style="text-align: left;"><span style="font-size: 10pt;">Paropakar Ambulance Service</span></td>
 <td style="text-align: left;"><span style="font-size: 10pt;">4260859</span></td>
 </tr>, <tr style="text-align: left;">
 <td style="text-align: left;"><span style="font-size: 10pt;">Lalitpur Redcross Ambulance Service</span></td>
 <td style="text-align: left;"><span style="font-size: 10pt;">5545666</span></td>
 </tr>, <tr style="text-align: left; background-color: #eeeeee;">
 <td style="text-align: left;"><span style="font-size: 10pt;">Bishal Bazar Ambulance Service</span></td>
 <td style="text-align: left;"><span style="font-size: 10pt;">4244121</span></td>
 </tr>, <tr style="text-align: left;">
 <td style="text-align: left;"><span style="font-size: 10pt;">Redcross Ambulance Service</span></td>
 <td style="text-align: left;"><span style="font-size: 10pt;">4228094</span></td>
 </tr>, <tr style="text-align: left; background-color: #eeeeee;">
 <td style="text-align: left;"><span style="font-size: 10pt;">Agrawal Sewa Centre</span></td>
 <td style="text-align: left;">
 <p><span style="font-size: 10pt;">4424875</span></p>
 </td>
 </tr>, <tr>
 <td><span style="font-size: 10pt;">Aasara Drug Rehabilitation Center</span></td>
 <td><span style="font-size: 10pt;">01-4384881</span></td>
 </tr>]

In [14]:
rows2 = tables[2].find_all("tr")

In [25]:
len(rows2)

33

In [38]:
raw_columns, raw_datas, raw_datas2 = rows[0], rows[1:], rows2[1:]

In [39]:
columns = [data.text for data in raw_columns.find_all("td")]

In [40]:
columns

['Name', 'Telephone Numbers']

In [41]:
datas = [[td.text for td in tr.find_all("td")] for tr in raw_datas]

In [42]:
datas

[['Police Control', '100'],
 ['Police Emergency Number', '4228435'],
 ['Metropolitan Police Range (Kathmandu)', '4261945/4261790'],
 ['Metropolitan Police Range (Lalitpur)', '5521207'],
 ['Metropolitan Police Range (Bhaktapur)', '6614821'],
 ['Paropakar Ambulance Service', '4260859'],
 ['Lalitpur Redcross Ambulance Service', '5545666'],
 ['Bishal Bazar Ambulance Service', '4244121'],
 ['Redcross Ambulance Service', '4228094'],
 ['Agrawal Sewa Centre', '\n4424875\n'],
 ['Aasara Drug Rehabilitation Center', '01-4384881']]

In [47]:
datas2 = [[td.text for td in tr.find_all("td")] for tr in raw_datas2]

In [49]:
type(datas2)

list

In [50]:
joindata = datas+datas2

In [52]:
len(joindata)

43

In [53]:
def get_dict(**datas):
    columns = datas.get('columns')
    rows = datas.get('rows')
    return [dict(zip(columns, row)) for row in rows]

In [54]:
datas = get_dict(columns=columns, rows=joindata)

In [55]:
def write_to_csv(datas):
    with open('nepal_emergency_number.csv', 'w') as write_file:
        writer = csv.DictWriter(write_file, fieldnames=datas[0].keys())
        writer.writeheader()
        writer.writerows(datas)
        
write_to_csv(datas)